.soundPlay,
.enterChat {
  padding: 0 2rem;
  display: grid;
  margin-bottom: 10px;
}

/* Buttons */
.playButton {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
}

.playButton:hover span:after {
  opacity: 1;
  right: 0;
}

.playButton:hover,
.playButton:active {
  outline: 0;
  color: #dc6f6fbe;
  border-color: #ffc2a1be;
}

.submit {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  background-color: #fff;
  color: black;
  width: 101%;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
}

.submit:hover {
  background-position: 100% 0%;
  outline: 0;
  color: white;
  background-color: #ffc2a1be;
}

/* Progress bar */

.progressBar {
  --bar-bg: azure;
  --seek-before-width: 0;
  --seek-before-color: #ffc2a1;
  --knobby: #3452a5;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 12px;
  position: relative;
  width: 99%;
  height: 11px;
  outline: none;
  cursor: pointer;
}

/* Modal style */
.loginContainer {
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

.loginContainer h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.loginContainer label {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.loginContainer input,
.chatBox input {
  font-size: 20px;
  border: none;
}

.loginContainer input:focus,
.chatBox input:focus {
  outline: none;
}

.loginContainer input[type='submit'],
.chatBox input[type='submit'] {
  margin-left: 5px;
  border: none;
  color: white;
  background-color: #ffc2a1be;
  cursor: pointer;
}

.loginContainer input[type='submit']:hover,
.chatBox input[type='submit']:hover {
  outline: 0;
  color: black;
}

/* ChatBox */
.chatContainer {
  max-width: 83%;
  height: auto;
}

.quitButton {
  background-color: transparent;
  color: white;
  position: absolute;
  right: 0;
  width: 40px;
  transform: translateY(-50%);
  border: none;
  font-size: 25px;
}

.chatBox {
  display: grid;
  max-width: 80%;
  height: auto;
  padding: 15px 30px;
}

.chatMessages {
  padding: 30px;
  max-width: 100%;
  height: 70vh;
  overflow-y: scroll;
  margin-bottom: 15px;
  background-color: rgba(29, 31, 36, 0.39);
}

.chatMessages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: var(--light-color);
  border-radius: 5px;
}

.chatMessages .message .meta {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark-color-b);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chatMessages .message .meta span {
  color: #777;
}

.chatInput {
  display: flex;
  flex-direction: row;
}

.chatInput input[type='text'] {
  width: 75vw;
}
/* 
.chatMessages::-webkit-scrollbar {
  width: 1vw;
}

.chatMessages::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 42%, 0.49);
  border-radius: 100px;
} */
